@import "../tokens/color.scss";
@import "../tokens/typo.scss";
@import "../tokens/spacing.scss";
@import "../tokens/utilities.scss";

.heading{
    padding-top: 112px;
    text-align: center;
    color: $white_contrast;
    margin-bottom: $space_large;
    position: relative;
    z-index: 1;
    & h1{
        font-weight: $black;
        font-size: $font-size_extra-large;
        line-height: $font-size_extra-large;
    }
    &__price{
        background-color: $acent;
        padding: 10px;
        font-size: $font-size_normal;
        border-radius: 10px;
        width: max-content;
        margin: $space_extra-small auto 0 auto;
        & b{
            font-weight: $bold;
        }
    }
}