/*
 ██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
*/

$primary: #3721A5;
$gradient: linear-gradient(180deg, #5A41E6 0%, #140064 100%);
$cream: #EFECFB;

$acent: #00C570;

$body_text: #6D6D6D;
$gray: #B3B3B3;

$black_contrast: #1E1E1E;
$white_contrast: #FFF;
