/*
███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗ 
██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝ 
███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
*/

$space_large:50px;
$space_normal:30px;
$space_small:20px;
$space_extra-small:10px;