/*
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
*/

$family:'NeuzeitGro';
$style: normal;
$format: 'truetype';

$light: 300;
$regular: 400;
$bold: 700;
$black: 800;

$font: 'NeuzeitGro', helvetica, sans-serif;

$font-size_extra-large: 3rem;
$font-size_large: 2rem;
$font-size_normal: 1.8rem;
$font-size_small: 1.6rem;
